@import url("https://use.typekit.net/yrq2ink.css");
@import '../app.css';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400&display=swap');

/* Template*/

    /*Positioning*/

    /*Margins and padding*/

    /*Size*/

    /*Borders and colors*/

    /*Inner items*/
    
    /*Fonts*/

/* --- */

:root{
    
    --MAIN_FONT: 'basic-sans', sans-serif;

}


.book-shelf{
        
    /*Positioning*/
    overflow-x: auto;
    margin-bottom: -0.14rem;

    /*Margins and padding*/

    /*Size*/
    width: 50vh;
    height: 35vh;


    /*Borders and colors*/
    border-color: var(--BORDER_COLOR);
    border-style: solid;
    border-width: 1px;

    /*Inner items*/
    display: flex;
    justify-content: left;

    /*Fonts*/
}


.book-shelf-name{

    /*Margins and padding*/
    margin-top: 1rem;
    margin-bottom: 2rem;

    /*Size*/
    height:15rem;

    /*Borders and colors*/
    border-color: var(--BORDER_COLOR);
    border-style: solid;
    border-width: 1px;

    /*Fonts*/
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    color: grey;
    
    /*Inner items*/
}



.book-shelf-base{
        /*Positioning*/

    /*Margins and padding*/

    /*Size*/
    width: stretch;
    height: 2rem;


    /*Borders and colors*/
    background-color: var(--VVLIGHT_COLOR);
    box-shadow: -5px -5px 8px rgb(247, 255, 253, 1), -15px -15px 25px rgba(247, 255, 253, 0.9), 15px 15px 35px rgba(167, 180, 177, 0.9);


    /*Inner items*/

    /*Fonts*/
}

.book-cover{
    /*Positioning*/

    /*Margins and padding*/

    /*Size*/
    min-width: 240px;

    /*Borders and colors*/
    border-color: var(--BORDER_COLOR);
    border-style: solid;
    border-width: 1px;

    /*Inner items*/
    display:inline-block;
    vertical-align: bottom;

    /*Fonts*/
}

img {
    max-width: 100%;
    max-height: 100%;
    min-width: 200px;
    margin-left:0.5rem;
    margin-right: 2.5rem;
    box-shadow: 10px 10px 15px rgba(187, 207, 202, 0.9);
}