@import url("https://use.typekit.net/yrq2ink.css");
@import '../app.css';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400&display=swap');

/* Template*/

    /*Positioning*/

    /*Margins and padding*/

    /*Size*/

    /*Borders and colors*/

    /*Inner items*/
    
    /*Fonts*/

/* --- */

:root{
    
    --MAIN_FONT: 'basic-sans', sans-serif;
    

}

.flip-card {
    /*Positioning*/
    

    /*Margins and padding*/
    margin-top: 3rem;
    /*Size*/
    width: 100%;
    height: 20rem;
    perspective: 1000px;

    /*Borders and colors*/
    background-color: transparent;
    border-style: solid;
    border-color: var(--BORDER_COLOR);
    border-radius:1rem;

    /*Inner items*/
    
    /*Fonts*/
    
    
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    z-index: 10;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }


  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    overflow:visible;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius:1rem;
    z-index: 10;
    
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: var(--VVLIGHT_COLOR);
    
    border-style: solid;
    border-color: var(--BORDER_COLOR);
    
    flex-direction: column reverse;
    justify-content: space-evenly;
    text-align: bottom left;
    vertical-align: bottom;
    box-shadow: -5px -5px 5px rgb(247, 255, 253, 0.9), -15px -15px 25px rgba(247, 255, 253, 0.7), 15px 15px 25px rgba(187, 207, 202, 0.438);
  }
  
  .flip-card-front-text{
    font-size: 1.8rem;
    color: var(--VDARK_COLOR);
    border-style: solid;
    border-color: var(--BORDER_COLOR);
    text-align: left;
    bottom: 1rem;
    left: 1rem;
    position: absolute;
    font-weight:500;
  }

  .flip-card-back-text{
    font-size: 1.8rem;
    color: var(--LIGHT_COLOR);
    border-style: solid;
    border-color: var(--BORDER_COLOR);
    text-align: left;
    bottom: 1rem;
    left: 1rem;
    position: absolute;
  }

  /* Style the back side */
  .flip-card-back {
    background-color: white;

    color: white;
    transform: rotateY(180deg);
    box-shadow: 15px 15px 25px rgba(187, 207, 202, 0.438);
  }

  @media only screen and (min-width: 768px) {
    .flip-card-back-text, .flip-card-front-text{
      font-size: 2.5rem;
    }

    .flip-card {
      height: 40rem;
    }

  }